@media screen and (max-width: 1000px) {
    main {
        margin: 0 10px;
        gap: 50px;
    }

    header {
        width: 785px;
    }

    form {
        width: 350px;
    }

    .inputs2 {
        flex-direction: column;
        width: 350px;
        gap: 0;
    }

    .inputs2 .inputs {
        width: 350px;
    }

    .inputs .expand {
        left: 300px;
    }

    #countries {
        top: 100px;
    }

    .container {
        top: 87.5%;
    }
}

@media screen and (max-width: 800px) { 
    header {
        width: 383px;
        margin: 0;
        padding: 0;
    }
    
    main {
        width: 100%;
        flex-wrap: wrap-reverse;
        gap: 10px;
        margin: 0;
        padding: 0;
    }

    form {
        width: 383px;
    }

    .inputs2 .inputs {
        width: 383px;
    }


    .inputs .expand {
        left: 340px;
    }

    #countries {
        top: 100px;
    }

    .container {
        top: 87.5%;
    }

    .resum { 
        margin-top: 20px;
    }

}

@media screen and (max-width: 400px) { 
    body {
        margin: 10px 0 30px;
    }
    
    header {
        width: 90%;
        margin: 0;
        padding: 0;
    }
    
    main {
        width: 90%;
        flex-wrap: wrap-reverse;
        gap: 10px;
        margin: 0;
        padding: 0;
    }

    .inputs2 .inputs {
        width: 350px;
    }


    .inputs .expand {
        left: 310px;
    }

    #countries {
        top: 100px;
    }

    .container {
        top: 87.5%;
    }

    .resum { 
        margin-top: 20px;
    }

}